html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: url('background.jpg') center/cover no-repeat;
  /* from openstreetmap.org */
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
  text-align: center;
  height: 100%;
}
h1 {
  margin: 0 auto;
  padding: 30px;
}