[submodule "checkers"]
	path = checkers
	url = https://github.com/codethejason/checkers
[submodule "metadata-viewer"]
	path = metadata-viewer
	url = https://github.com/codethejason/metadata-viewer
[submodule "GithubOAuth"]
	path = GithubOAuth
	url = https://github.com/codethejason/GithubOAuth
[submodule "codeignitor_user_system"]
	path = codeignitor_user_system
	url = https://github.com/codethejason/usersystem
[submodule "email-sender"]
	path = email-sender
	url = https://github.com/codethejason/email-sender
